{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title> 

    <!-- Fontes e Ícones Externos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- CSS Local -->
    <link rel="stylesheet" href="{% static 'global/css/mapa.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/formulario.css' %}">



</head>

<body>
    <!-- Barra superior -->
    <header class="app-header">        
        <h2 class="app-title">Mapeamento Problemas Urbanos - Osasco-SP</h2>
    </header>


        <div class="form-container">
            
            <h1>Login</h1>

            {% if form.errors %}
                <p style="color: red;">Seu usuário e senha não correspondem. Tente novamente.</p>
            {% endif %}
            
            {% if next %}
                {% if user.is_authenticated %}
                <href="contact/solicitar">
                

                {% else %}
                    <p>Por favor, faça login para ver esta página.</p>
                {% endif %}
            {% endif %}
            
            <div class="row">
            <div class="col">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>{{ form.username.label_tag }}</td>
                                <td>{{ form.username }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.password.label_tag }}</td>
                                <td>{{ form.password }}</td>
                            </tr>
                        </table>
                        <input type="submit" value="Entrar">
                        <input type="hidden" name="next" value={{ next }} >
                    </form>
            </div>
            </div>

             <p> <a href="cadastro"> Não tem Cadastro? Cadastre-se Aqui </a></p>

        </div>


    <!-- Barra Inferior -->
    <footer class="app-footer">
         
        <img src="{% static 'global/images/univesp_logo.png' %}" alt="Logo Univesp"> <!-- Verifique o caminho da imagem -->
        <span> Quem Somos </span>
         <span>Grupo 7</span>

    </footer>
    
</body>
</html>
